<div>
    <h2><i class="fas fa-flask"></i> The What and the Why</h2>
    <p>
        Color has an undeniable power in web design. Everyone can recall a
time when they were turned off by neon font on a black background -
a far cry from legibility.</p>

<p>But color and design often take a backseat to the functionality 
that developers are so eager to achieve. Other times, it's a matter
of not having the tools to determine specific color (Hex/RGB) values 
to implement when coding.</p>

<p>Thus came the inspiration for this project - a way to visualize and get 
   values of various colors splashed onto a sample web layout.  
    </p><br/>

    <h2><i class="fas fa-cogs"></i> Behind the Scenes</h2>

    <p>
        When you select a color with Angular's color picker, it passes its
        associated hex value to an external API called "The Color API". 
        The API returns data pertaining
        to that color, and this application then uses that data to compose the
        color palette and sample UI. 
    </p>

    <p>
        Once you're happy with the colors you've selected, clicking "Get JSON Data"
        provides the option to download a JSON file with all associated data for 
        future reference.
    </p>
</div>





<div>
    <h2><i class="fas fa-tools"></i> Technologies Used:</h2> 

     <ul> 
        <li><i class="fab fa-angular fa-lg"></i> Angular Framework <small>11.1.2</small></li>
        <li>Color Picker Directive by Alberto Pujante<br/>
        <a target="_blank" href="https://github.com/Alberplz/angular2-color-picker">
            https://github.com/Alberplz/angular2-color-picker</a>
        </li>
        <li>The Color API by Josh Beckman<br/>
        <a target="_blank" href="http://www.thecolorapi.com">
            http://www.thecolorapi.com</a>
        </li>
        <li>Angular Services<br/>
        <a target="_blank" href="https://angular.io/guide/architecture-services">
            https://angular.io/guide/architecture-services</a>
        </li>
        <li>Angular Drag and Drop<br/>
        <a target="_blank" href="https://material.angular.io/cdk/drag-drop/overview">
            https://material.angular.io/cdk/drag-drop/overview</a>
        </li>
        <li>Angular Routing<br/>
            <a target="_blank" href="https://angular.io/api/router      ">
                https://angular.io/api/router</a>
            </li>
        <li>HTML5 Canvas<br/>
        <a target="_blank" href="https://www.w3schools.com/html/html5_canvas.asp">
            https://www.w3schools.com/html/html5_canvas.asp</a>
        </li>
        <li>Classroom Principles<br/>
            <span style="font-weight: normal;">
            RxJS switchMap, pipe, map | localStorage
            </span>
        </li>
        <li>Supplemental Resources<br/>
        <span style="font-weight: normal;">
            Adobe Stock Images, Photoshop, Illustrator | Visual Studio Code | 
            Chrome WebDev Tools | Flexbox | Font Awesome | Bootstrap Styles (and last but not least... <em>a calculator!</em>)
        </span></li>
    </ul>
</div>


